{{- $cloudName := .Site.Params.cloudName -}}
{{- $baseURL := .Site.Params.baseURL -}}

{{ if not $cloudName }}
<h1>Please provide a cloud name in the config file</h1>
{{ else if not $baseURL }}
<h1>Please provide a base URL which should be "https://res.cloudinary.com/" in the config file</h1>
{{ else if .Get "src" }}
{{ if and (.Get "src") (eq (path.Ext (.Get "src")) ".mp4") }}
<video controls {{ with .Get "style" }}style="{{ . | safeCSS }}" {{ end }} {{ with .Get "class" }}class="{{ . }}"
    {{ end }} {{ with .Get "alt" }}alt="{{ . }}" {{ end }}>
    <source
        src="{{ .Site.Params.baseURL }}{{ .Site.Params.cloudName }}/video/upload/{{ with .Site.Params.folderName }}{{ . }}/{{ end }}{{ .Get "src" | safeURL }}"
        type="video/mp4">
    Your browser does not support the video tag.
</video>
{{ else }}
{{- $options := slice -}}
{{- with .Get "width" -}}
{{- $width_option := printf "w_%v" . -}}
{{- $options = $options | append $width_option  -}}
{{ end }}
{{- with .Get "height" -}}
{{- $height_option := printf "h_%v" . -}}
{{- $options = $options | append $height_option  -}}
{{ end }}
<img src="{{ .Site.Params.baseURL }}{{ .Site.Params.cloudName }}/image/upload/{{ with $options }}{{ delimit $options "," }}/{{ end }}{{ with .Site.Params.folderName }}{{ . }}/{{ end }}{{ .Get "src" | safeURL }}"
    {{ with .Get "style" }}style="{{ . | safeCSS }}" {{ end }} {{ with .Get "class" }}class="{{ . }}" {{ end }}
    {{ with .Get "alt" }}alt="{{ . }}" {{ end }}>
{{end}}
{{ end }}
